In [1]:
import numpy as np
import pandas as pd
# -*- coding: utf-8 -*-

In [8]:
data = pd.read_csv('./tencent_traindata.csv')
data.columns

Index(['DEAL_DATE', 'USER_ID', 'CUST_ID', 'PRODUCT_ID', 'SERIAL_NUMBER',
       'IN_DATE', 'OPEN_DATE', 'REMOVE_TAG', 'DESTROY_TIME',
       'USER_STATE_CODESET', 'BALANCE', 'FEE', 'SMS_COUNT', 'FLOW_DATA',
       'CALL_DURATION', 'USER_STATE_NAME', 'PSPT_ID', 'USE_DAYS',
       'DEPOSIT_TIMES', 'DEVELOP_TYPE', 'START_DATE', 'LAST_DEPOSIT_FEE',
       'LAST_DEPOSIT_TIME'],
      dtype='object')

In [16]:
data = data[['SERIAL_NUMBER','USER_STATE_CODESET','BALANCE','FEE','SMS_COUNT','FLOW_DATA','CALL_DURATION','PSPT_ID','DEVELOP_TYPE','LAST_DEPOSIT_FEE','LAST_DEPOSIT_TIME']]

In [44]:
data.describe()

,SERIAL_NUMBER,BALANCE,FEE,SMS_COUNT,FLOW_DATA,CALL_DURATION,DEVELOP_TYPE,LAST_DEPOSIT_FEE
count,1.582200e+04,15821.000000,15822.000000,15822.000000,15822.000000,15822.000000,11968.000000,14340.000000
mean,1.684527e+10,31.546941,23.753322,1.543800,6888.513538,39.511945,1.082971,46.786479
std,1.933500e+09,97.907147,28.802625,8.722811,12933.441761,108.670336,0.275850,49.167133
min,1.300569e+10,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.010000
25%,1.562693e+10,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,20.000000
50%,1.766601e+10,11.200000,9.500000,0.000000,0.000000,0.000000,1.000000,30.000000
75%,1.866614e+10,39.940000,45.400000,0.000000,8714.300000,28.000000,1.000000,50.000000
max,1.868820e+10,5531.800000,284.300000,394.000000,255473.280000,2630.000000,2.000000,795.840000

In [101]:
data.BALANCE = data.BALANCE.fillna(0)

In [56]:
data.LAST_DEPOSIT_TIME[data.LAST_DEPOSIT_TIME.isnull()]

Series([], Name: LAST_DEPOSIT_TIME, dtype: object)

In [57]:
data.USER_STATE_CODESET.unique()

array(['0', '9', 'F', '6'], dtype=object)

In [58]:
#设置样本标签
def set_type(USER_STATE_CODESET):
    if USER_STATE_CODESET == '0':
        return 0
    else:
        return 1

In [59]:
data['class'] = data.USER_STATE_CODESET.apply(set_type)

In [64]:
#获取年龄
def get_birth(pspt_id):
#     birth_day = pspt_id[6:10]+":"+pspt_id[10:12]+":"+pspt_id[12:14]
#     return pspt_id[6:10]+":"+pspt_id[10:12]+":"+pspt_id[12:14]
    return 2018-int(pspt_id[6:10])

In [65]:
data['age'] = data.PSPT_ID.apply(get_birth)

In [92]:
#获取充值时间间隔天数
from datetime import datetime
def get_interval(last_deposit_time):
    return (datetime(2018,4,8)-last_deposit_time).days

In [93]:
data['deposit_interval_day'] = data.LAST_DEPOSIT_TIME.apply(get_interval)

In [86]:
data.LAST_DEPOSIT_TIME = pd.to_datetime(data.LAST_DEPOSIT_TIME)

In [87]:
data.dtypes

SERIAL_NUMBER                  int64
USER_STATE_CODESET            object
BALANCE                      float64
FEE                          float64
SMS_COUNT                    float64
FLOW_DATA                    float64
CALL_DURATION                float64
PSPT_ID                       object
DEVELOP_TYPE                 float64
LAST_DEPOSIT_FEE             float64
LAST_DEPOSIT_TIME     datetime64[ns]
class                          int64
age                            int64
dtype: object

In [94]:
data.head()

,SERIAL_NUMBER,USER_STATE_CODESET,BALANCE,FEE,SMS_COUNT,FLOW_DATA,CALL_DURATION,PSPT_ID,DEVELOP_TYPE,LAST_DEPOSIT_FEE,LAST_DEPOSIT_TIME,class,age,deposit_interval_day
0,18666919990,0,378.33,56.0,0.0,0.00,0.0,420529198605120035,2.0,300.0,2018-04-01 09:32:00,0,32,6
1,18666123651,0,11.09,106.0,1.0,6452.11,72.0,421181198702077651,2.0,100.0,2018-04-05 20:18:00,0,31,2
2,18666985102,0,126.97,41.5,0.0,9803.04,12.0,411122199105068231,2.0,300.0,2018-01-01 14:11:00,0,27,96
3,18688165487,0,29.98,23.6,0.0,484.19,41.0,360121198602100072,2.0,50.0,2018-01-24 09:45:00,0,32,73
4,18688152210,0,69.56,60.5,1.0,4070.74,125.0,320322199302096838,2.0,100.0,2018-02-16 20:24:00,0,25,50

In [102]:
data1 = data[['BALANCE','FEE','SMS_COUNT','FLOW_DATA','CALL_DURATION','DEVELOP_TYPE','LAST_DEPOSIT_FEE','age','deposit_interval_day','class']]

In [105]:
data1.to_csv('./training_data.csv',index=None)